.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid gray;
  box-shadow: 0px 10px 20px 0px #262626;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.isOnline {
  background-color: chartreuse;
}

.isOffline {
  background-color: red;
}

.avatar {
}

.name {
}
