.statistics {
  width: 400px;
}
.title {
  text-align: center;
  padding: 30px;
}
.stat_list {
  display: flex;
}
.id-1 {
  background-color: #4fc4f9;
}
.id-2 {
  background-color: #a43cf3;
}
.id-3 {
  background-color: #e84b69;
}
.id-4 {
  background-color: #20b8c5;
}
.item {
  height: 90px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}
.label {
}
.percentage {
}
