.transaction_history {
  width: 700px;
  margin-bottom: 40px;
  box-shadow: 0px 10px 40px 0px #262626;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.thead {
}

.tr {
}

.th {
  background-color: #00bcd5;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.tbody {
}

.tr {
  height: 40px;
}

.odd {
  background-color: #ffffff;
}

.even {
  background-color: #ecf1f4;
}

.td {
  text-align: center;
}
